@model CCV_Project.Controllers.RackModel

@{
    ViewBag.Title = "Index";
}

<h2>Racks</h2>

@Html.Partial("Other/StoreHouseName")
    <p>
        @Html.Partial("Buttons/Create")
        @Html.ActionLink("Import", "Import", null, new { @class = "btn btn-outline-dark" })
        @Html.Partial("Buttons/SingOut")
    </p>
<table class="table table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Racks.First().StoreHouseRefId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Racks.First().EAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racks.First().Xposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racks.First().Yposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racks.First().Activ)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Racks)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.StoreHouseRefId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activ)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RackId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RackId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RackId }) |
                @Html.ActionLink("More", "More", new { id = item.RackId })
            </td>
        </tr>
    }

</table>
<hr />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Back", "BackToStoreHouseIndex",null, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
</div>
