@model CCV_Project.Models.StoreHouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Partial("Other/StoreHouseName")

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreHouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreHouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeHouseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeHouseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreHouseActiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreHouseActiv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreHouseId }, new { @class = "btn btn-outline-success"}) 
    @Html.ActionLink("Back", "Index",null, new { @class = "btn btn-outline-dark" })
</p>
